body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.style {
  background-color: transparent;
  border: 1px solid #000;
  margin-right: 5px;
  color: #000;
  padding: 2px 4px;
  font-weight: 500;
}